<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">about</h1>
            <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Id, aspernatur, ut ea quas cum est modi assumenda debitis fuga error
        dignissimos in architecto vel totam earum incidunt hic numquam dolores.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur placeat incidunt laudantium ipsam
        dolorum minima, ab dicta quia nobis magni saepe corrupti quae? Nisi aut saepe, laboriosam illum ipsam dolorem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, architecto. Sunt exercitationem deleniti odit
        mollitia iure error facilis porro! Distinctio similique debitis id quaerat cumque obcaecati consequuntur eos voluptates consequatur.</p>

        </section>
    </main>
    <%- include('partials/footer') %>    
</body>
</html>